.politicas-container {
    font-family: "Josefin Sans", sans-serif;
    color: #333; /* Color de texto principal */
    background-color: #f9f9f9;
    line-height: 1.6;
    margin: 0 auto;
    padding: 100px; /* Espacio alrededor de la página */
    background-color: #f9f9f9; /* Fondo claro para contraste */
}

/* Title (h2) */
h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #000; /* Color de título */
    text-align: center; /* Centrar el título principal */
    margin-bottom: 20px;
}

/* Subtitles (h3) */
h3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #333; /* Color de subtítulo */
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Main paragraph (p1) */
.p1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #555; /* Color de texto principal */
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Secondary paragraph (p2) */
.p2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #666; /* Color de texto secundario */
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

/*<Route path="/Accesibilidad" element={<Accesibilidad />} />
            <Route path="/AvisoLegal" element={<AvisoLegal />} />
            <Route path="/Cookies" element={<Cookies />} />
            <Route path="/Privacidad" element={<Privacidad />} />*/
